body {
  font-family: 'Montserrat', sans-serif;
}

.recipeCard {
  width:280px;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(gray, 5%);
  transition: .25s;
}
.recipeCard:hover {
  box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width:100%;
  background-size:cover;
  color:#fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  margin-right: auto;
}

.button:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.button:active {
position: relative;
top: 1px;
} 

.ingredients-container > p {
  font-size: 1rem;
  text-decoration-line: underline;
}

.flex-container {
  display: flex;
}

.noheart {
     background-color: gray;
      height: 30px;
      transform: rotate(-45deg);
      width: 30px;
}
.noheart:before,
.noheart:after {
      content: "";
      background-color: gray;
      border-radius: 50%;
      height: 30px;
      position: absolute;
      width: 30px;
}
.noheart:before {
      top: -15px;
      left: 0;
}

.heart {
     background-color: red;
      height: 30px;
      transform: rotate(-45deg);
      width: 30px;
}
.heart:before,
.heart:after {
      content: "";
      background-color: red;
      border-radius: 50%;
      height: 30px;
      position: absolute;
      width: 30px;
}
.heart:before {
      top: -15px;
      left: 0;
}
