.main-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  background: #ffffff4a;
  align-items: center;
  z-index: 1;
}

.main-header h1 {
  cursor: pointer;
  font-family: 'Bungee Shade';
  font-size: "30px";
  text-decoration: none;
}

.main-header h4 {
  color: #B01E68;
  cursor: pointer;
  font-family: 'Bungee Shade';
  font-size: 25px;
}

.headerLink h4 {
  color: white;
  text-decoration: none;
}

.float {
  float: left;
}
